@font-face {
    font-family:"Raleway";
    src:url("./Raleway/Raleway-VariableFont_wght.ttf"),
        url("./Raleway/Raleway-Italic-VariableFont_wght.ttf")
}

body {
    font-family: "Raleway",serif;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
}

nav li {
    margin-right: 50px;
    padding: 10px;
}

#iphone {
    visibility: hidden;
}

#menu_hebergement{
    border-top: 2px solid #0065fc;
}

.menu_inscription {
    color: #0065fc;
}

form p i  {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
}



.recherche {
    padding: 10px;
}

.bouton_rechercher {
    background-color: #0065fc;
    color: #ffffff;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
}



.section_filtre {
    display: flex;
}

fieldset {
    border: none;
}


input[type="checkbox"] {
    display: none;
}

.label_filtres {
    margin: 30px;
    padding: 5px 15px 5px 0px;
}

fieldset label:hover 

fieldset label {
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    margin: 30px;
}

fieldset i {
    color: #0065fc;
    background-color: #deebff;
    padding: 8px;
    border-radius: 50%;
}

#info i {
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius:50%;
}




.chambres {
    display: flex;

}

.chambres article {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.chambres div {  
    margin: 5px 5px 10px 5px ;
    border: 2px solid #ffffff;
    border-radius: 10px; 
    background-color: #ffffff;
    box-shadow: 1px 1px 10px gray;  

}

.hebergements {
    display: flex;    
}

#pop {
    margin-left: 80px;
}
.pop {
    display: flex;
}

.pop p {
    margin-left: 15px;
}


article i {
    color: #0065fc
}

h2 i {
    color: black;
    margin-left: 80px;
}


/* Activités à Marseille*/

.forme {
    display:flex;
}

.a {
    display: flex;
}

.activites {
    flex-direction: column;
    margin: 15px 35px 10px 35px;
}

.forme div {
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray; 
}

.photo_a {
    height : 150px;
    width : 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.photo_abis {
    height: 350px;
    width:  270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/**/

.photo {
    height: 130px;
    width: 265px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.photo_pop {
    height: 160px;
    width: 140px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


/* footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* responsive */
@media screen and (max-width : 1024px) {
    body {
        width: auto;
    }


    #iphone {
        visibility: visible;
        flex-direction: column;
    }

    .premier_menu {
        display: flex;
        justify-content: space-between;
    }

    .deuxieme_menu ul {
        justify-content: space-around;
    }
 
    
    #menu-hebergement {
        border-bottom: 2px solid #0065fc;
    }

    #menu-activites {
        border-bottom: 2px solid gray ;
    }
    #desktop {
       visibility: hidden
    }

    .section_filtre {
        flex-direction: column;
    }
    .label_filtres {
        margin-left: 0px;
    }

    article {
        flex-direction: column;
    }
    article section {
        flex-direction: column;
    }
    .chambres {
        flex-direction: column-reverse;
    }
    .chambres article {
        background-color: white;
    }

    #pop {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 10px 20px 10px 20px; 
        margin-left: 0px; 
    }
    /* photos */
    .photo {
        height: 150px;
        width : 395px;
    }
    .photo_a {
        height: 150px;
        width : 395px;
    }
    .photo_abis {
        height: 150px;
        width : 395px;
    }
    .photo_pop {
        height: 200px;
        width : 500px;
    }

    /* footer */
    #footer-items {
        flex-direction: column;
    }
}

