@font-face {
    font-family:"Raleway";
    src:url("./Raleway/Raleway-VariableFont_wght.ttf"),
        url("./Raleway/Raleway-Italic-VariableFont_wght.ttf")
}

body {
    font-family: "Raleway",serif;
    flex-wrap: wrap;
 
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
}

nav li {
    margin-right: 50px;
    padding: 10px;
}



#menu_hebergement{
    border-top: 2px solid #0065fc;
    padding-top: 27px;
    margin-top: -22px;
    color: #0065fc;
}

.menu_inscription {
    color: #0065fc;
    font-weight: bold;
}

form p i  {
    background-color: #f2f2f2;
    padding: 20px 18px 17px 18px;
    border-radius: 15px 0 0 15px;
    margin-right: -5px;    
}

form input {
    font-size: 18px;
}

.recherche {
    padding: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
}

#i_recherche {
    visibility:hidden;
}

.bouton_rechercher {
    background-color: #0065fc;
    color: #ffffff;
    padding: 16px;
    border-radius: 0 15px 15px 0;
    margin-left: -10px;
    font-weight: bold;
    border-style: none;
}

.section_filtre {
    display: flex;
    font-weight: bold;
}

.fieldset {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fieldset span {
    margin-left: 10px;
}


input[type="text"] {
    display: none;
}

.label_filtres {
    margin: 30px;
    padding: 10px 15px 10px 0px;
    border: 2px solid #c4cfdf;
    border-radius: 50px;
}

.fieldset label:hover{
    text-decoration: underline;
}

.fieldset label {    
    margin: 30px;
}

.fieldset i {
    color: #0065fc;
    background-color: #deebff;
    padding: 12px;
    border-radius: 50%;
}

#info i {
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius:50%;
}

.nom_hotel {
    font-weight: bold;
}


.chambres {
    display: flex;

}

.chambres article {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.hotel {  
    margin: 5px 5px 10px 5px ;
    border: 5px solid #ffffff;
    border-radius: 20px; 
    background-color: #ffffff;
    box-shadow: 1px 1px 10px gray;  
}

.hotel p {
    margin: 15px;
} 

.petits_prix {
    font-weight: bold;
}


.hebergements {
    display: flex;    
}

#pop {
    margin-left: 60px;
}
.pop {
    display: flex;
    margin: 5px 5px 10px 5px ;
    border: 5px solid #ffffff;
    border-radius: 20px; 
    background-color: #ffffff;
    box-shadow: 1px 1px 10px gray;
}
.pop a  {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}

.description_hotel {
    display: grid;
}
.description {
    margin-top : 10px;
}

.note {
    margin-left: 15px;
}

.pop p {
    margin-left: 15px;
}


article i {
    color: #0065fc;
}

h2 i {
    color: black;
    margin-left: 80px;
}


/* Activités à Marseille*/

.forme {
    display:flex;
}

.a {
    display: flex;    
}

.activites {
    flex-direction: column;
    margin: 15px 38px 20px 25px;
}

.forme div {
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray; 
}

.activites div {
    margin-bottom: 30px;
}

.photo_a {
    height : 150px;
    width : 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;    
}

.photo_abis {
    height: 370px;
    width:  270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.activites p {
     padding-bottom: 15px;
     margin-left: 15px;
     font-weight: bold;
}
/**/

.photo {
    height: 130px;
    width: 265px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photo_pop {
    height: 160px;
    width: 140px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


/* footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* responsive */
@media screen and (max-width : 1024px) {
    body {
        width: auto;
    }

    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }

    .bouton_rechercher {
        display: none;
    }

    #i_recherche {
        visibility:visible;
    }

    #i_recherche {
        background-color: #0065fc;
        color: white;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        margin-left: -10px;
    }
 
    
    #menu-hebergement {
        border-bottom: 2px solid #0065fc;
    }

    #menu-activites {
        border-bottom: 2px solid gray ;
    }
  

    .section_filtre {
        flex-direction: column;
    }
    .label_filtres {
        margin-left: 0px;
    }

    article {
        flex-direction: column;
    }
    article section {
        flex-direction: column;
    }
    .chambres {
        flex-direction: column-reverse;
    }
    .chambres article {
        background-color: white;
    }

    

    #pop {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 10px 20px 10px 20px; 
        margin-left: 0px; 
    }
    /* photos */
    .photo {
        height: 150px;
        width : 340px;
    }
    .photo_a {
        height: 150px;
        width : 335px;
    }
    .photo_abis {
        height: 150px;
        width : 335px;
    }
    .photo_pop {
        height: 150px;
        width : 120px;
    }

    /* footer */
    #footer-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}