@font-face {
    font-family:"Raleway";
    src:url("./Raleway/Raleway-VariableFont_wght.ttf"),
        url("./Raleway/Raleway-Italic-VariableFont_wght.ttf")
}

body {
    font-family: "Raleway",serif;
    flex-wrap: wrap;
    width: auto; 
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
}

nav li {
    margin-right: 50px;
    padding: 10px;
}

#menu_hebergement{
    border-top: 2px solid #0065fc;
    padding-top: 27px;
    margin-top: -22px;
    color: #0065fc;
}

#menu_hebergement a {
    color: #0065fc;
}

#menu_inscription {
    color: #0065fc;
    font-weight: bold;
}

form p i  {
    background-color: #f2f2f2;
    padding: 20px 18px 17px 18px;
    border-radius: 15px 0 0 15px;
    margin-right: -5px;    
}

form input {
    font-size: 18px;
}

.recherche {
    padding: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
}

#i_recherche {
    visibility:hidden;
}

.bouton_rechercher {
    background-color: #0065fc;
    color: #ffffff;
    padding: 16px;
    border-radius: 0 15px 15px 0;
    margin-left: -10px;
    font-weight: bold;
    border-style: none;
}

.section_filtre {
    display: flex;
    font-weight: bold;
}
.section_filtre p {
    padding-top: 30px;
}

fieldset {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: none;
}

fieldset span {
    margin-left: 10px;
}


input[type="text"] {
    display: none;
}

.label_filtres {
    margin: 30px;
    padding: 0px 10px 0px 0px;
    border: 2px solid #c4cfdf;
    border-radius: 50px;
}

fieldset label:hover{
    cursor: pointer;
}

fieldset label {    
    margin: 30px;
}

fieldset i {
    color: #0065fc;
    background-color: #deebff;
    padding: 12px;
    border-radius: 50%;
}

#info i {
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius:50%;
}

.nom_hotel {
    font-weight: bold;
}


.chambres {
    display: flex;

}

.chambres article {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.hotel {  
    margin: 5px 5px 10px 5px ;
    border: 5px solid #ffffff;
    border-radius: 20px; 
    background-color: #ffffff;
    box-shadow: 1px 1px 10px gray;  
}

.hotel p {
    margin: 15px;
} 

.petits_prix {
    font-weight: bold;
}


.hebergements {
    display: flex;    
}

#pop {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.pop {
    display: flex;
    margin: 5px 5px 10px 5px ;
    border: 5px solid #ffffff;
    border-radius: 20px; 
    background-color: #ffffff;
    box-shadow: 1px 1px 10px gray;
}
.pop a  {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}

.description_hotel {
    display: grid;
}

.description {
    margin-top : 10px;
}

.note {
    margin-left: 15px;
}

.pop p {
    margin-left: 15px;
}


article i {
    color: #0065fc;
}

h2 {
    display: flex;
}

h2 i {
    color: black;
    margin-left: 80px;
}


/* Activités à Marseille*/

.forme {
    display:flex;
}

.a {
    display: flex;    
}

.activites {
    flex-direction: column;
    margin: 15px 38px 20px 25px;
}

.forme div {
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray; 
}

.activites div {
    margin-bottom: 30px;
}

.photo_a {
    height : 150px;
    width : 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;    
}

.photo_abis {
    height: 370px;
    width:  270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.activites p {
     padding-bottom: 15px;
     margin-left: 15px;
     font-weight: bold;
}
/**/

.photo {
    height: 130px;
    width: 265px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photo_pop {
    height: 160px;
    width: 140px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

/* footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-item ul {
    margin-left: -38px;
}

/* Media Queries */
@media screen and (max-width : 720px) {

    nav ul {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
    nav li {
        margin-right: 0;
        padding: 0;
    }

    #menu_inscription {
        position: absolute;
        top: 25px;
        right: 5px;
    }

    #menu_hebergement{
        border-top: none;
        border-bottom: 2px solid #0065fc;      
        margin-top: 25px;
        color: #0065fc;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 28px;   
        left: 5px;
        padding-bottom: 15px  
    }

    #menu_activites {
        border-bottom: 2px solid #c4cfdf ;
        margin-top: 25px;
        position: absolute;
        right: 5px;
        top: 55px;
        width: 50%;
        text-align: center;
        padding-bottom: 15px
    }

    .champ_recherche {
        margin-top: 60px;
    }
    .bouton_rechercher {
        display: none;
    }
    .section_generale {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    #i_recherche {
        visibility:visible;
    }

    #i_recherche {
        background-color: #0065fc;
        color: white;
        padding: 19px;
        border-radius: 0 5px 5px 0;
        margin-left: -10px;
    }
  
    .section_filtre {
        flex-direction: column;
    }

    h2 {
        margin-left: 15px;
    }
    

    .label_filtres {
        margin: 10px;
    }
    .chambres {
        flex-direction: column-reverse;
    }
    #plus_info {
        font-weight: bold;
    }

    article {
        flex-direction: column;
    }
    
    article section {
        flex-direction: column;
    }
    
    .chambres article {
        background-color: white;
    }
    .hotel {
        width: 375px;
    }

    #pop {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 10px 20px 10px 20px; 
        margin-left: 0px;
        border-radius : 0px;
    }
    .pop {
        width: 370px;
    }
    .activites div {
        width: 380px;
    }
    /* photos */
    .photo {
        height: 150px;
        width : 376px;
    }
    .photo_a {
        height: 150px;
        width : 380px;
    }
    .photo_abis {
        height: 150px;
        width : 380px;
    }
    .photo_pop {
        height: 150px;
        width : 130px;
    }

    /* footer */
    #footer-items { 
        margin-left : 45px;
        flex-direction: column;
    }
}
@media screen and (min-width : 720px) and (max-width : 1024px) {
    .chambres {
        flex-direction: column-reverse;
    }
    
     .chambres article {
        background-color: white;
    }
    .hotel {  
        margin: 5px 55px 10px 5px ;
    }

    #pop {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 10px 20px 10px 20px; 
        margin-left: 0px;
        display: flex;
    }
    #pop section {
        display: flex;
    }
    
    .forme {
        flex-direction: column;
    }

    .a  {
        display: flex;
    }

    .activites {
        display: flex;
        flex-direction: initial;
        margin: 0;
        margin-bottom : 25px;
    }
    .activites div {
        margin : 5px 35px 0px 5px;
    }
    .photo_abis {
        height: 150px;
        width:  270px;
    }
    
}